<div class="sidenav">

    <p>ALL CATEGORIES</p>

    <div class="sidenavCategories">
        <span class="material-icons">
            pets
        </span>
        <a href="http://localhost:4200/home">Pets</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            music_note
        </span>
        <a href="http://localhost:4200/home">Music</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            movie_creation
        </span>
        <a href="http://localhost:4200/home">Cinema</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            stars
        </span>
        <a href="http://localhost:4200/home">Dance</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            help
        </span>
        <a href="http://localhost:4200/home">WTF</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            book
        </span>
        <a href="http://localhost:4200/home">Books</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            emoji_emotions
        </span>
        <a href="http://localhost:4200/home">Humor</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            sports_soccer
        </span>
        <a href="http://localhost:4200/home">Sport</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            flight_takeoff
        </span>
        <a href="http://localhost:4200/home">Trip</a>
    </div>


    <div class="sidenavCategories">
        <span class="material-icons">
            child_care
        </span>
        <a href="http://localhost:4200/home">Teenager</a>
    </div>



</div>
