.sidenav {
  /* Toute la sidenav */
  max-height: 85vh;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 120px;
  margin-left: 0%;
}

p {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: "Fredoka One";
  font-weight: lighter;
}
.sidenavCategories {
  /* Un élément de la sidenav = Picto + Nom de la catégorie */
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidenavCategories:hover {
  /* Un élément de la sidenav = Picto + Nom de la catégorie */
  background: #d0d4e2e8;
  cursor: pointer;
}

.material-icons {
  /* Picto */
  padding-left: 20px;
  color: #fcd647;
  font-size: 30px;
}

.sidenav a {
  /* Nom de la catégorie */

  padding-left: 20px;

  vertical-align: middle;

  text-decoration: none;
  font-size: 20px;
  color: #292c31;
  font-family: "Fredoka One";
  font-weight: lighter;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292c31;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292c31;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #292c31;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    visibility:hidden;
  }
  .sidenav a {
    font-size: 18px;
  }
}
